#form-container {
    font-size: 1.5rem;
}

#tbl-body-container tr.td-list {
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: lightgray !important;

        td {
            background-color: transparent;
        }
    }

    i.bi.bi-trash3 {
        font-size: 1.2rem;

        &:hover {
            color: red;
        }
    }
}